@model HotelSystem.Model.HotelInfo

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Hotel/Views/Shared/_Layout.cshtml";
}
<style>
    .upload-button {
        cursor: pointer;
    }

        .upload-button:hover {
            background-color: #87CEEB;
        }

    .upload-button, .upload-button-remove {
        background-color: #85b6e5;
        height: 120px;
        position: relative;
        margin-bottom: 10px;
    }

    .item .preview {
        width: 100%;
        height: 100%;
    }

    .upload-button span {
        cursor: pointer;
        color: white;
        font-size: 58px;
        width: 58px;
        height: 58px;
        display: block;
        text-align: center;
        line-height: 58px;
        z-index: 4;
        float: left;
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
    }

    .upload-button-remove span:hover {
        font-size: 34px;
    }

    .upload-button-remove span {
        border-top-left-radius: 100%;
        background: rgba(196, 183, 183, 0.63);
        font-size: 28px;
        line-height: 58px;
        width: 46px;
        height: 46px;
        cursor: pointer;
        display: block;
        text-align: center;
        z-index: 4;
        float: right;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .item .remove {
        color: red;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>酒店基本信息</strong></h2>
            </div>
            <div class="panel-body">
                <p class="text-success text-center">@ViewBag.Message</p>
                @using (Html.BeginForm("ChangeInfo", "Info", new { id = Model.Id }, FormMethod.Post, new { @class = "form-horizontal group-border", enctype = "multipart/form-data" }))
                {
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">序列号</label>
                        <div class="col-lg-10 col-md-10">
                            <input name="Id" type="text" class="form-control" value="@Html.DisplayFor(model => model.Id)" readonly>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"><font color="red">*</font> @Html.DisplayNameFor(model => model.Name)</label>
                        <div class="col-lg-5 col-md-10">
                            <input name="Name" type="text" class="form-control" placeholder="必填" value="@Html.DisplayFor(model => model.Name)" required>
                        </div>

                        <div class="col-lg-5 col-md-10">
                            <input name="EnglishName" type="text" class="form-control" placeholder="英文名称" value="@Html.DisplayFor(model => model.EnglishName)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"> 域名</label>
                        <div class="col-lg-4 col-md-4">
                            <div class="input-group">
                                <input type="text" name="DomainName" class="form-control" placeholder="域名" aria-describedby="basic-addon2" value="@Html.DisplayFor(model => model.DomainName)">
                                <span class="input-group-addon" id="basic-addon2">.lantola.com</span>
                            </div>
                            <p class="text-muted">填写后可以根据配置的域名直接访问酒店，示例:myhotel.Lantola.com</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"><font color="red">*</font> 酒店星级</label>
                        <div class="col-lg-1 col-md-10">
                            <select name="Star" class="form-control" placeholder="必填" disabled>
                                <option value="6">超五星/奢华型</option>
                                <option value="5">五星级/豪华型</option>
                                <option value="4">四星级/高档型</option>
                                <option value="3" selected>三星级/舒适型</option>
                                <option value="2">二星级/经济型</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"><font color="red">*</font> 酒店地址</label>

                        <div class="col-lg-2 col-md-10">
                            @Html.DropDownList("ProvinceId", new SelectList(ViewBag.Province, "Id", "ProvinceName", ViewBag.ProvinceId), "==请选择==", new { @class = "form-control province", @data_target = "#City" })
                        </div>

                        <div class="col-lg-1 col-md-10">
                            <div id="City">
                                @Html.DropDownListFor(m => m.CityId, new SelectList(ViewBag.City, "Id", "CityName"), "==请选择==", new { @class = "form-control city", @data_target = "#District" })
                            </div>
                        </div>

                        <div class="col-lg-1 col-md-10">
                            <div id="District">

                                @Html.DropDownListFor(m => m.DistrictId, new SelectList(ViewBag.District, "Id", "DistrictName"), "==请选择==", new { @class = "form-control district" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"> </label>

                        <div class="col-lg-10 col-md-10">
                            <input name="Adress" type="text" class="form-control" placeholder="具体地址" value="@Html.DisplayFor(model => model.Adress)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"><font color="red">*</font> 前台电话</label>

                        <div class="col-lg-4 col-md-4">
                            <input name="Tel" type="text" class="form-control" placeholder="电话" value="@Html.DisplayFor(model => model.Tel)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"><font color="red">*</font> 酒店简介</label>
                        <div class="col-lg-10 col-md-10">
                            <textarea id="textarea-input" name="Synopsis" rows="9" class="form-control" placeholder="简介">@Html.DisplayFor(model => model.Synopsis)</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dtp_input2" class="col-lg-2 col-md-2 col-sm-12 control-label"><font color="red">*</font>开业时间</label>
                        <div class="col-lg-4 col-md-4 input-group date form_date" data-date-format="yyyy-mm-dd" data-link-field="OpeningTime" data-link-format="yyyy-mm-dd" style="padding-left:13px;padding-right:13px;">
                            <input class="form-control" size="16" type="text" value="@(Model.OpeningTime==null?"":DateTime.Parse(Model.OpeningTime.ToString()).ToString("yyyy-MM-dd"))" readonly required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="OpeningTime" name="OpeningTime" value="@(Model.OpeningTime==null?"":DateTime.Parse(Model.OpeningTime.ToString()).ToString("yyyy-MM-dd"))" /><br />
                    </div>
                    <div class="form-group">
                        <label for="dtp_input2" class="col-lg-2 col-md-2 col-sm-12 control-label"><font color="red">*</font>装修时间</label>
                        <div class="col-lg-4 col-md-4 input-group date form_date" data-date-format="yyyy-mm-dd" data-link-field="RenovationTime" data-link-format="yyyy-mm-dd" style="padding-left:13px;padding-right:13px;">
                            <input class="form-control" size="16" type="text" value="@(Model.RenovationTime==null?"":DateTime.Parse(Model.RenovationTime.ToString()).ToString("yyyy-MM-dd"))" readonly required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                        <input type="hidden" id="RenovationTime" name="RenovationTime" value="@(Model.RenovationTime==null?"":DateTime.Parse(Model.RenovationTime.ToString()).ToString("yyyy-MM-dd"))" /><br />
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"><font color="red">*</font> 房间数量</label>

                        <div class="col-lg-4 col-md-4">
                            <input name="RoomCount" type="text" class="form-control" placeholder="房间数量" value="@Html.DisplayFor(model => model.RoomCount)" required>
                        </div>
                    </div>

                    var logo = Model.HotelImages.Where(h => h.Type == 0);
                    if (logo.Count() == 0)
                    {

                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">LOGO</label>
                            <div class="col-lg-10 col-md-10">
                                <div class="row">
                                    <div class="col-md-2 item">
                                        <input name="image" type="file" accept=".jpg,.png,jpeg" style="display:none;" class="upload-image" />
                                        <div class="upload-button">
                                            <span class="fa fa-plus"></span>
                                            <div class="preview"></div>
                                        </div>
                                        <input name="imageId" type="hidden" value="">
                                        <input name="summary" type="hidden" value="LOGO">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">@logo.First().Summary</label>
                            <div class="col-lg-10 col-md-10">
                                <div class="row">
                                    <div class="col-md-2 item">
                                        <input name="image" type="file" accept=".jpg,.png,jpeg" style="display:none;" class="upload-image" />
                                        <div class="upload-button-remove">
                                            <span class="fa fa-trash-o remove"></span>
                                            <div class="preview"><img src="@logo.First().Url" style='height:100%;width:100%;' alt="..."></div>
                                        </div>
                                        <input name="imageId" type="hidden" value="@logo.First().Id">
                                        <input name="summary" type="hidden" value="@logo.First().Summary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    var homeImg = Model.HotelImages.Where(h => h.Type == 1);

                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">首页大图</label>
                        <div class="col-lg-10 col-md-10">
                            <div class="row" id="upload_images">

                                @foreach (var img in homeImg)
                                {
                                    <div class="col-md-2 item">
                                        <input name="image" type="file" accept=".jpg,.png,jpeg" style="display:none;" class="upload-image" />
                                        <div class="upload-button-remove">
                                            <span class="fa fa-trash-o remove"></span>
                                            <div class="preview"><img src="@img.Url" style='height:100%;width:100%;' alt="..."></div>
                                        </div>
                                        <input name="imageId" type="hidden" value="@img.Id">
                                        <input name="summary" type="hidden" value="@img.Summary">
                                    </div>
                                }
                                @for (var i = 0; i < (3 - homeImg.Count()); i++)
                                {
                                    <div class="col-md-2 item">
                                        <input name="image" type="file" accept=".jpg,.png,jpeg" style="display:none;" class="upload-image" />
                                        <div class="upload-button">
                                            <span class="fa fa-plus"></span>
                                            <div class="preview"></div>
                                        </div>
                                        <input name="imageId" type="hidden" value="">
                                        <input name="summary" type="hidden" value="酒店首页大图@(i+1)">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"></label>
                        <div class="col-lg-10 col-md-10">

                            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 提交修改申请</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div><!--.col-->
</div><!--.row-->
<script src="~/Scripts/city.cascading.js"></script>

<script src="~/Scripts/upload.preview.js"></script>
<script>
    $(function () {
        $(".form-group").on("change", ".upload-image", function () {
            $(this).next().removeClass("upload-button").addClass("upload-button-remove");
            $(this).next().find("span").removeClass("fa-plus").addClass("fa-trash-o remove");
        })
        $(".form-group").on("click", ".remove", function () {
            $(this).parent().removeClass("upload-button-remove").addClass("upload-button");
            $(this).removeClass("fa-trash-o remove").addClass("fa-plus");
            var target = $(this).next();
            target.html('');
        })
        $(".form-group").on("click", ".upload-button", function () {
            $(this).prev().click();
        })
    })
</script>