@model HotelSystem.Model.Restaurant
@{
    ViewBag.Title = "Restaurant";
    Layout = "~/Areas/Hotel/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2><i class="fa fa-indent red"></i><strong>餐饮美食</strong></h2>
            </div>
            <div class="panel-body">
                <form enctype="multipart/form-data" action="/Hotel/Info/ChangeRestaurant" class="form-horizontal group-border" role="form" method="post">
                    <input type="hidden" name="Id" value="@Html.DisplayFor(model => model.Id)"/>
                    <div>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">@Html.DisplayNameFor(model => model.Describe)</label>
                            <div class="col-lg-3 col-md-10">
                                <textarea name="Describe" class="form-control" rows="3">@Html.DisplayFor(model => model.Describe) </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">展示图片1</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="Image1"  type="file" accept=".jpg,.png,jpeg">
                            <img class="img-rounded" src="@Html.DisplayFor(model => model.Image1)" style="width:200px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">展示图片2</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="Image2" type="file" accept=".jpg,.png,jpeg">
                            <img class="img-rounded" src="@Html.DisplayFor(model => model.Image2)" style="width:200px;" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">展示图片3</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="Image3" type="file" accept=".jpg,.png,jpeg">
                            <img class="img-rounded" src="@Html.DisplayFor(model => model.Image3)" style="width:200px;" />
                        </div>
                    </div>
                    <h4 class="col-lg-10 col-lg-offset-1 col-md-2 col-sm-12 page-header">营业信息</h4>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">@Html.DisplayNameFor(model => model.BreakfastTime)</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="BreakfastTime" class="form-control" type="text" placeholder="" value="@Html.DisplayFor(model => model.BreakfastTime)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">@Html.DisplayNameFor(model => model.LunchTime)</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="LunchTime" class="form-control" type="text" placeholder="" value="@Html.DisplayFor(model => model.LunchTime)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">@Html.DisplayNameFor(model => model.DinnerTime)</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="DinnerTime" class="form-control" type="text" placeholder="" value="@Html.DisplayFor(model => model.DinnerTime)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">@Html.DisplayNameFor(model => model.Seat)</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="Seat" class="form-control" type="text" placeholder="" value="@Html.DisplayFor(model => model.Seat)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">@Html.DisplayNameFor(model => model.Clothing)</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="Clothing" class="form-control" type="text" placeholder="" value="@Html.DisplayFor(model => model.Clothing)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">@Html.DisplayNameFor(model => model.Place)</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="Place" class="form-control" type="text" placeholder="" value="@Html.DisplayFor(model => model.Place)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label">@Html.DisplayNameFor(model => model.Reserve)</label>
                        <div class="col-lg-3 col-md-10">
                            <input name="Reserve" class="form-control" type="text" placeholder="" value="@Html.DisplayFor(model => model.Reserve)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-md-2 col-sm-12 control-label"></label>
                        <div class="col-lg-10 col-md-10">
                            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-dot-circle-o"></i> 保存</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!--.col-->
</div>