@model HotelSystem.Model.Room

@{
    ViewBag.Title = "EditRoom";
    Layout = "~/Areas/Hotel/Views/Shared/_Layout.cshtml";
}
<style>
    .upload-button {
        cursor: pointer;
    }

        .upload-button:hover {
            background-color: #87CEEB;
        }

    .upload-button, .upload-button-remove {
        background-color: #85b6e5;
        height: 120px;
        position: relative;
        margin-bottom: 10px;
    }

    .item .preview {
        width: 100%;
        height: 100%;
    }

    .upload-button span {
        cursor: pointer;
        color: white;
        font-size: 58px;
        width: 58px;
        height: 58px;
        display: block;
        text-align: center;
        line-height: 58px;
        z-index: 4;
        float: left;
        position: absolute;
        top: 30%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
    }

    .upload-button-remove span:hover {
        font-size: 34px;
    }

    .upload-button-remove span {
        border-top-left-radius: 100%;
        background: rgba(196, 183, 183, 0.63);
        font-size: 28px;
        line-height: 58px;
        width: 46px;
        height: 46px;
        cursor: pointer;
        display: block;
        text-align: center;
        z-index: 4;
        float: right;
        position: absolute;
        right: 0px;
        bottom: 0px;
    }

    .item .remove {
        color: red;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" data-original-title="">
                <h2><i class="fa fa-indent red"></i><strong>添加房型</strong></h2>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("EditRoom", ViewContext.RouteData.GetRequiredString("controller"), FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <div class="text-center"><p class="text-warning">@ViewBag.Message</p></div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-5">
                                @Html.EditorFor(model => model.EnglishName, new { htmlAttributes = new { @class = "form-control", @placeholder = "英文名" } })
                                @Html.ValidationMessageFor(model => model.EnglishName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Area, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Storey, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Storey, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Storey, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BedType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.BedType, new SelectList(ViewBag.BedType), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.BedType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BedDescribe, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.BedDescribe, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BedDescribe, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.OccupancyNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.OccupancyNumber, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.OccupancyNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Scenery, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.Scenery, new SelectList(ViewBag.SceneryType), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Scenery, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.AddBed, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.AddBed, new SelectList(ViewBag.AddBed), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.AddBed, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Number, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Number, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Number, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Smokeless, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownListFor(m => m.Smokeless, new SelectList(ViewBag.Smokeless), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Smokeless, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="Scenery">浴室</label>
                            <div class="col-md-10">
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.Shower)
                                    @Html.DisplayNameFor(model => model.Shower)
                                </label>

                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.Bathtub)
                                    @Html.DisplayNameFor(model => model.Bathtub)
                                </label>

                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.HotSpring)
                                    @Html.DisplayNameFor(model => model.HotSpring)
                                </label>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.RoundBathtub)
                                    @Html.DisplayNameFor(model => model.RoundBathtub)
                                </label>
                                <label class="checkbox-inline">
                                    @Html.CheckBoxFor(model => model.WindowBathtub)
                                    @Html.DisplayNameFor(model => model.WindowBathtub)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2" for="images">照片</label>
                            <div class="col-md-10">
                                <div class="row" id="upload_images">
                                    @if (Model != null)
                                    {
                                        foreach (var img in Model.RoomImages)
                                        {
                                            <div class="col-md-2 item">
                                                <input name="image" type="file" accept=".jpg,.png,jpeg" style="display:none;" class="upload-image" />
                                                <div class="upload-button-remove">
                                                    <a href="/Hotel/Room/DeleteRoomImage?roomId=@Model.Id&id=@img.Id"><span class="fa fa-trash-o remove"></span></a>
                                                    <div class="preview"><img src="@img.Url" style='height:100%;width:100%;' alt="..."></div>
                                                </div>
                                                <input name="imageId" type="hidden" value="img.Id">
                                            </div>
                                        }
                                    }
                                    
                                    @if (Model == null || Model.RoomImages.Count() < 8)
                                    {
                                        <div class="col-md-2 item">
                                            <input name="images" type="file" accept=".jpg,.png,jpeg" style="display:none;" class="upload-image" />
                                            <div class="upload-button">
                                                <a href="javascript:;"><span class="fa fa-plus"></span></a>
                                                
                                                <div class="preview"></div>
                                            </div>
                                        </div>
                                    }
                                </div>

                                @*<input name="images" id="images" type="file" accept="image/jpeg,image/png" multiple required>
                                    <span class="text-danger">房型照片最多可6张，若上传超过6张，系统只会取前6张保存。</span>*@
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="保存" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                }

                <div class="text-right">
                    @Html.ActionLink("返回 房型列表", "Manage")
                </div>
            </div>
        </div><!--/col-->
    </div><!--/col-->
</div>
<script src="~/Scripts/upload.preview.js"></script>
<script>
    $(function () {
        var elem = $("#upload_images").find(".item").eq(0).clone();
        $("#upload_images").on("change", ".upload-image", function () {
            $(this).next().removeClass("upload-button").addClass("upload-button-remove");
            $(this).next().find("span").removeClass("fa-plus").addClass("fa-trash-o remove");
            if ($(this).val() && $("#upload_images").find(".item").length < 8) {
                $("#upload_images").append(elem.clone());
            }
        })
        $("#upload_images").on("click", ".remove", function () {
            if ($("#upload_images").find(".item").length == 8) {
                if ($("#upload_images").find(".item:last").find(".upload-image").eq(0).val()) {
                    $("#upload_images").append(elem.clone());
                }
            }
            $(this).parent().parent().parent().remove();

        })
        $("#upload_images").on("click", ".upload-button", function () {
            $(this).prev().click();
        })
    })
</script>