@model PagedList<HotelSystem.Model.Settlement>

@using Webdiyer.WebControls.Mvc
<table class="table table-bordered">
    <thead>
        <tr>
            <th>酒店</th>
            <th>账单开始日期</th>
            <th>账单结束日期</th>
            <th>未结订单数</th>
            <th>未结账单金额</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var hotel in Model)
        {
            <tr>
                <td>@hotel.HotelName</td>
                <td>@hotel.StartTime.ToString("yyyy-MM-dd")</td>
                <td>@hotel.EndTime.ToString("yyyy-MM-dd")</td>
                <td><label>@hotel.OrderCount</label></td>
                <td><label>@hotel.Amount</label> </td>
                <td>
                    <a href="/Admin/Settlement/OrderList?start=@hotel.StartTime.ToString("yyyy-MM-dd")&end=@hotel.EndTime.ToString("yyyy-MM-dd")&hotel=@hotel.HotelInfoId" target="_blank">详情</a> |
                    <a href="/Admin/Settlement/CreateSettlement?start=@hotel.StartTime.ToString("yyyy-MM-dd")&end=@hotel.EndTime.ToString("yyyy-MM-dd")&hotel=@hotel.HotelInfoId" onclick="return confirm('确定生成账单吗？');">生成账单</a>
                </td>
            </tr>
        }
    </tbody>
</table>