@{
    ViewBag.Title = "Map";
    Layout = "~/Views/Shared/_LayoutHotel.cshtml";
}
<style>
    .map-box {
        position: relative;
    }

    .map {
        float: left;
        width: 70%;
        height: 100%;
        z-index: 1;
    }

    .map-info {
        width: 30%;
        height: 100%;
        box-shadow: 0px 0px 15px #919ead;
        z-index: 2;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .map-item h4 {
        margin: 0px;
        padding-left: 10px;
        background: #3266dd;
        color: #fff;
        height: 40px;
        line-height: 40px;
    }

    .map-item .map-content {
        padding: 10px 30px;
    }

    .guide li {
        border-bottom: 1px solid #e5e5e5;
        line-height: 30px;
        min-height: 30px;
        color: #313131;
        font-size: 14px;
        font-family: "华文细黑";
    }

        .guide li:last-child {
            border-bottom: none;
        }

    .map-search {
        padding-left: 30px;
        background-image: url(/Images/mapicon5.png);
        background-position: left center;
        background-repeat: no-repeat;
        color: #606060;
        line-height: 30px;
    }

        .map-search .search-box {
            border: 0;
            border-bottom-width: 0px;
            border-bottom-style: none;
            border-bottom-color: currentcolor;
            border-bottom: 1px solid #a0a0a0;
            width: 250px;
            font-size: 14px;
            line-height: 29px;
            height: 29px;
            color: #4488ff;
            font-family: "华文细黑";
            padding: 0px;
            margin: 0px;
            margin-right: 0px;
            vertical-align: top;
            margin-right: 10px;
        }

        .map-search .search-btn {
            height: 30px;
            width: 30px;
            background-color: #4488ff;
            background-position: center center;
            background-repeat: no-repeat;
            border: 0;
            padding: 0;
            margin: 0;
            vertical-align: top;
            color: #fff;
        }

        .map-search .target-adress {
            margin-top: 30px;
        }
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=8yxhCfYtFgbKfFGFzLe0tuQNMz2xScIT"></script>
<input type="hidden" value="@ViewBag.Logo" id="Logo" />
<input type="hidden" value="@ViewBag.Hotel.Synopsis" id="Synopsis" />
<input type="hidden" value="@ViewBag.Hotel.Name" id="HotelName" />
<input type="hidden" value="@ViewBag.Hotel.City.CityName" id="City" />
<input type="hidden" value="@ViewBag.Hotel.Adress" id="Address" />
<div id="map-box" class="map-box">
    <div class="map" id="map">
    </div>
    <div class="map-info">
        <h3 style="background-color:#4488ff;margin:0px;padding:20px;font-size:18px;">
            @ViewBag.Hotel.Name
            @for (var i = 0; i < @ViewBag.Hotel.Star; i++)
            {
                <span class="fa fa-star star"></span>
            }
            
        </h3>

        <div class="map-item">
            <h4><span class="fa fa-map-marker"></span>&nbsp;&nbsp; 路线查询</h4>
            <div class="map-content">
                <div class="map-search">
                    <div class="">
                        <input class="search-box" id="start" value="" placeholder="" type="text">
                        <button class="search-btn" id="search"><span class="fa fa-search"></span></button>
                        <button class="search-btn" id="refresh"><span class="fa fa-refresh"></span></button>
                        <div id="message"></div>
                    </div>
                    <div class="target-adress">@ViewBag.Adress</div>
                </div>
            </div>
        </div>
        <div class="map-item">
            <h4><span class="fa fa-plane"></span>&nbsp;&nbsp;机场信息</h4>
            <div class="map-content">
                <ul class="guide">
                    @foreach (var g in ViewBag.Airport)
                    {
                        <li class="hotelroute1 hotelroute2">@g.Name：<span>@g.Describe</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="map-item">
            <h4><span class="fa fa-subway"></span>&nbsp;&nbsp; 火车信息</h4>
            <div class="map-content">
                <ul class="guide">
                    @foreach (var g in ViewBag.Train)
                    {
                        <li class="hotelroute1 hotelroute2">@g.Name：<span>@g.Describe</span></li>
                    }
                </ul>
            </div>
        </div>
        <div class="map-item">
            <h4><span class="fa fa-map-signs"></span>&nbsp;&nbsp; 地标信息</h4>
            <div class="map-content">
                <ul class="guide">
                    @foreach (var g in ViewBag.Landmark)
                    {
                        <li class="hotelroute1 hotelroute2">@g.Name：<span>@g.Describe</span></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#map-box").css("height", $(window).height() - 76 - 50);
        var sContent = `<div>
                            <img style='height:28px;' id='imgDemo' src='http://Lantola.com/@ViewBag.Logo' title='@ViewBag.Hotel.Name' />
                            <h4 style='margin:0 0 5px 0;padding:0.2em 0'>@ViewBag.Hotel.Name</h4>
                        </div>`;
        var city = $('#City').val();
        var address = $('#Address').val();
        // 百度地图API功能
        var map = new BMap.Map("map");    // 创建Map实例
        map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
        var myGeo = new BMap.Geocoder();
        // 将地址解析结果显示在地图上，并调整地图视野
        myGeo.getPoint(address, function (point) {
            if (point) {
                map.centerAndZoom(point, 16);
                var marker = new BMap.Marker(point);
                map.addOverlay(marker);              // 将标注添加到地图中
                var infoWindow = new BMap.InfoWindow(sContent);  // 创建信息窗口对象
                marker.addEventListener("click", function () {
                    this.openInfoWindow(infoWindow);
                    //图片加载完毕重绘infowindow
                    //document.getElementById('imgDemo').onload = function () {
                    //    infoWindow.redraw();   //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
                    //}
                });
                map.openInfoWindow(infoWindow, point);      // 在标注处打开信息窗口
            }
        },
        city);
        map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放

        var routePolicy = [BMAP_DRIVING_POLICY_LEAST_TIME, BMAP_DRIVING_POLICY_LEAST_DISTANCE, BMAP_DRIVING_POLICY_AVOID_HIGHWAYS];
        $('#search').click(function () {
            var start = $('#start').val();
            console.log(address);
            map.clearOverlays();
            search(start, address, routePolicy[0]);
            function search(start, end, route) {
                var driving = new BMap.DrivingRoute(map, { renderOptions: { map: map, autoViewport: true }, policy: route });
                driving.search(start, end);
            }
        });
        $('#refresh').click(function () {
            window.location = window.location;
        });
        
    });
</script>