@using HotelSystem.Model;
@{
    ViewBag.Title = "会议室";
    Layout = "~/Views/Shared/_LayoutHotel.cshtml";
}
<style>
    /*客房列表*/
    .room-box {
        background: #f5f5f5;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height:700px;
    }

    .media-left .img {
        display: block;
        height: 200px;
    }

    .media-heading {
        padding-bottom: 4px;
    }

    .room-list .view {
        margin-bottom: 10px;
    }

    .room-list .img-list {
        margin: 0px;
    }

    .media-body, .media-left, .media-right {
        display: table-cell;
        vertical-align: top;
    }

    .media-heading span, .media-heading a {
        font-size: 14px;
    }

    .room-info {
        padding-top: 20px;
    }

        .room-info table {
            width: 100%;
        }

            .room-info table td {
                text-align: left;
                color: #444;
                font-size: 14px;
                line-height: 40px;
                padding: 0;
                height: 40px;
            }

    .hotel-info .star {
        margin-left: 10px;
    }
</style>
<div class="container-fluid room-box">
    <div class="container">
        <div class="hotel-info">
            <h4>
                @ViewBag.Hotel.Name
                @for (var i = 0; i < @ViewBag.Hotel.Star; i++)
                {
                    <span class="fa fa-star star"></span>
                }
            </h4>
            <p class="text-muted">@ViewBag.Hotel.EnglishName &nbsp;&nbsp;&nbsp;&nbsp; </p>
        </div>
        <div>
            @Model.MaxArea
            @Model.TeaBreak
            @Model.Buffet
            @Model.Banquet
        </div>
        <div class="room-list">
            @foreach (var room in Model.ConferenceRoom)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="media view">
                            <div class="media-left col-md-4" style="padding-left:0px;">
                                @{
                                    <a href="javascript:;" class="img more" data-target="#@room.Id" style="background:url('@room.Images') no-repeat;background-size:cover;background-position:center;">
                                    </a>
                                }
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading text-muted">@room.Name &nbsp; <span class="text-muted"></span>&nbsp; &nbsp; &nbsp; &nbsp;</h4>
                                <div class="room-info">
                                    <table>
                                        <tbody>
                                            <tr>
                                                <td>面积：@room.Area</td>
                                                <td>容纳人数：@room.Capacity </td>
                                                <td>时间 @room.BusinessHours</td>
                                            </tr>
                                            <tr>
                                                <td>层高：@room.Storey</td>
                                                <td>长度/宽度： @room.Size </td>
                                                <td>立柱：@room.Column </td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">收费：</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">会议布局：@room.Layout</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                                    }
        </div>
    </div>
</div>