@model PagedList<HotelSystem.Model.Room>
@using Webdiyer.WebControls.Mvc
<table class="table table-striped table-bordered bootstrap-datatable datatable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Area)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Storey)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BedDescribe)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Storey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BedDescribe)
            </td>
            <td>
                @Html.ActionLink("查看房价", "PriceList", new { id = item.Id }) |
                @Html.ActionLink("修改", "EditRoom", new { id = item.Id }) |
                @Html.ActionLink("删除", "Delete", new { id = item.Id }, new { onclick = "return confirm('确认删除吗？');" })
            </td>
        </tr>
    }
</table>